:host {
  display: block;
  font-size: 62.5%;
}

.container {
  background-color: var(--secondary-color,#fff);
  border-radius: 4px;
  box-shadow: 0px 6px 18px 0px rgba(0, 45 , 114, 0.15);
  position: absolute;
  width: 500px;
  height: 310px;
  padding: 20px;
  display: grid;
  grid-template-columns: 190px 190px 120px;
  grid-template-rows: 45px 210px 55px;
  grid-template-areas: 
  'header header header'
  'calendar calendar period'
  'days now button';
}

.hidden {
  display: none;
}

.type-selection {
  grid-area: header;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 40px;
  width: inherit;
  border-bottom: 1px solid var(--inactive-color, rgb(179,179,179));
  padding-bottom: 4px;
  font-size: 12px;
}

.type-selection label {
  padding: 7px;
  display: flex;
  align-items: flex-start;
  cursor: pointer;
}

.calendar {
  grid-area: calendar;
}

.button-continue {
  grid-area: button;
  height: 32px;
  width: 96px;
  background-color: var(--primary-color, #056dae);
  color: var(--inactive-color, rgb(179, 179, 179));
  font-size: 14px;
  font-weight: normal;
  border: none;
  border-radius: 6px;
  justify-self: center;
  align-self: center;
}

.completed {
  cursor: pointer;
  color: var(--secondary-color, #fff);
}

.period-list {
  grid-area: period;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 10px;
  padding: 15px 2px;  
  height: 160px;
  width: 125px;
}

.period-list img {
  rotate: 270deg;
  height: 17px;
  width: max-content;
  padding: 5px 0;
  cursor: pointer;
}

.period-list img:last-child {
  rotate: 90deg;  
}

.period-list label {
  padding: 7px 5px;
  width: 100px;
  cursor: pointer;
  transition: margin 0.5s ease-in-out;
  display: flex;
  justify-content: center;
}

.disabled {
  opacity: 0.3;
  cursor: default;
}

.period-list input {
  margin: 0;
  margin-right: 3px;
  vertical-align: middle;
}

.period-list .selected-period {
  border: solid 1.5px var(--primary-color, #0075c0);
  border-radius: 50%;  
}

.counter-days {
  grid-area: days;
  font-size: 12px;
  align-items: center;
}

.go-today {
  grid-area: now;
  height: 25px;
  width: 55px;
  color: var(--primary-color, #0075c0);
  background: none;
  font-size: 10px;
  padding: 5px;
  font-weight: 600;
  border: solid 1px;
  border-radius: 3em;
  justify-self: flex-start;
  align-self: center;
  cursor: pointer;
}