:host {
  display: flex;
  padding: 0 2px;
}

.container-calendar {
  /* background-color: rgb(255, 255, 255);
  box-shadow: 0 6px 18px 0 rgba(0,45,114,0.15); */
  padding-top: 5px;  
}

.calendar {
  /* width: 165px; */
  height: 190px;
  padding: 7px 5px;
  font-size: 11px;
}

.day-names {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
  margin-bottom: 5px;
}

.days-in-month {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 0;
  margin: 0;
  /* color: rgb(179, 179, 179); */
  background-color: transparent;
  /* width: 155px; */
}

.days-in-month li {
  /* justify-self: center; */
  margin: 3px 0;
  padding: 3px 0;
  min-width: 25px;
  /* height: 18px; */
  text-align: center;
}

.days-in-month li:nth-child(7n + 1){
  border-radius: 25px 0 0 25px;
}

.days-in-month li:nth-child(7n + 7){
  border-radius: 0 25px 25px 0;
}

.days-in-month li.disabled {
  color: transparent;
  letter-spacing: -0.8px;
  cursor: default;
  font-size: 10px;
  font-weight: normal;
  margin: 3px 0;
  padding: 1px 0;
  width: 23px;
  height: 18px;
}

.days-in-month .selected {
  background-color: var(--primary-color, #0075c0);
  color: var(--secondary-color,#fff);
}

li.selected:nth-child(7n + 1),
li.selected:nth-child(7n + 7){
  border-radius: 50%;
}

.days-in-month .in-range {
  color: black;
  cursor: pointer;
  border-radius: 50%;
}

.is-now {
  border: solid 1px var(--primary-color, #0075c0);
  width: 21px;
}

.days-in-month .inside-the-range {
  background-color: #def6ff;
  border-radius: 0px;
  color: #0075c0;
}

li.is-now:nth-child(7n + 1),
li.is-now:nth-child(7n + 7){
  border-radius: 25px;
}
